.stack-grid,
.projects-grid,
.games-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stack-grid .icon-label,
.projects-grid .icon-label,
.games-grid .icon-label {
    color: rgb(0, 0, 0);
}