.readme-window {
  position: absolute;
  top: 20%;
  left: 100px;
  width: 420px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border: 3px solid;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-right-color: #000000;
  border-bottom-color: #000000;
  background-color: #afafaf;
  font-family: "MS Sans Serif", Tahoma, sans-serif;
  font-size: 12px;
  padding: 2px;
  user-select: text;
  z-index: 500;
}

.readme-window .title-bar {
  height: 26px;
  background-color: #000080;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px;
  font-weight: bold;
  box-sizing: border-box;
}

.readme-window .title-bar button {
  width: 20px;
  height: 18px;
  border: 1px solid;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-right-color: #000000;
  border-bottom-color: #000000;
  background-color: #c0c0c0;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 0;
  line-height: 1;
}

.readme-window .title-bar button:active {
  border-top-color: #000000;
  border-left-color: #000000;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  padding: 1px 0 0 1px;
}

.readme-window .content {
  flex: 1;
  background-color: #f3f3f3;
  padding: 8px;
  overflow: auto;
  font-family: "Courier New", monospace;
  font-size: 15px;
  color: #000000;
  box-sizing: border-box;
  text-align: start;
}

.readme-window .content pre {
  margin: 0;
  font-family: "Courier New", monospace;
  white-space: pre-wrap;
  word-break: break-word;
}

.readme-window .content::-webkit-scrollbar {
  width: 16px;
}

.readme-window .content::-webkit-scrollbar-track {
  background: #c0c0c0;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.readme-window .content::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.readme-window .content::-webkit-scrollbar-corner {
  background: #c0c0c0;
}