.folder-window {
    position: absolute;
    top: 15%;
    left: 120px;
    width: 600px;
    height: 370px;
    display: flex;
    flex-direction: column;
    border: 3px solid;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #000000;
    border-bottom-color: #000000;
    background-color: #afafaf;
    font-family: "MS Sans Serif", Tahoma, sans-serif;
    font-size: 12px;
    padding: 2px;
    user-select: text;
    z-index: 500;
}

/* כותרת */
.folder-window .title-bar {
    height: 26px;
    background-color: #000080;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5px;
    margin: 2px;
    font-weight: bold;
    box-sizing: border-box;
    border-top: 2px solid #000080;
    border-left: 2px solid #000080;
}

/* כפתור סגירה */
.folder-window .title-bar button {
    width: 20px;
    height: 18px;
    border: 1px solid;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #000000;
    border-bottom-color: #000000;
    background-color: #c0c0c0;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 1;
}

.folder-window .title-bar button:active {
    border-top-color: #000000;
    border-left-color: #000000;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    padding: 1px 0 0 1px;
}

.menu-bar {
    display: flex;
    gap: 8px;
    padding: 2px 5px;
    background-color: #afafaf;
    font-family: "MS Sans Serif", Tahoma, sans-serif;
    font-size: 12px;
    user-select: none;
}

.menu-item {
    position: relative;
    padding: 0 4px;
    cursor: default;
    display: inline-block;
    margin-bottom: 2px;
}

.menu-item::first-letter {
    border-bottom: 1.5px solid #000000;
    padding-bottom: 0px;
}

.folder-window .content {
    flex: 1;
    background-color: #eeeeee;
    padding: 8px;
    margin: 2px;
    overflow: auto;
    font-family: "MS Sans Serif", Tahoma, sans-serif;
    font-size: 12px;
    color: #000000;
    box-sizing: border-box;
    border-top: 2px solid #393939;
    border-left: 2px solid #393939;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.objects-sum {
    display: flex;
    gap: 8px;
    padding: 5px;
    margin: 3px 2px 2px 2px;
    background-color: #afafaf;
    font-family: "MS Sans Serif", Tahoma, sans-serif;
    font-size: 12px;
    user-select: none;
    border-top: 2px solid #696969;
    border-left: 2px solid #696969;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}