body {
  margin: 0;
  font-family: "W95", "MS Sans Serif", Tahoma, sans-serif;
}

code {
  font-family: "Courier New", monospace;
}

@font-face {
  font-family: "W95";
  src: url("./assets/fonts/w95font/W95font.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "W95";
  src: url("./assets/fonts/w95font/W95font-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}