body {
  margin: 0;
  font-family: "Courier New", monospace;
}

code {
  font-family: "Courier New", monospace;
}

/* @font-face {
  font-family: "W95FA";
  src: url("../assets/fonts/W95FA-Regular.woff2") format("woff2"),
       url("../assets/fonts/W95FA-Regular.woff") format("woff"),
       url("../assets/fonts/W95FA-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
} */